<header class="main-header no-caret">
  <h2 id="planets-logo">THE PLANETS</h2>
  <a
    class="hamburger"
    (click)="onModalActivated()"
    [ngClass]="{ 'hamburger-active': modalActive }"
    ><img src="../../assets/images/icon-hamburger.svg" alt="navigation button"
  /></a>
  <nav class="main-nav">
    <ul>
      <li>
        <a
          class="nav-link"
          (click)="onPlanetClicked('mercury')"
          [ngClass]="{ 'planet-active': currentRoute === 'mercury' }"
          >MERCURY</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          (click)="onPlanetClicked('venus')"
          [ngClass]="{ 'planet-active': currentRoute === 'venus' }"
          >VENUS</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          (click)="onPlanetClicked('earth')"
          [ngClass]="{ 'planet-active': currentRoute === 'earth' }"
          >EARTH</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          (click)="onPlanetClicked('mars')"
          [ngClass]="{ 'planet-active': currentRoute === 'mars' }"
          >MARS</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          (click)="onPlanetClicked('jupiter')"
          [ngClass]="{ 'planet-active': currentRoute === 'jupiter' }"
          >JUPITER</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          (click)="onPlanetClicked('saturn')"
          [ngClass]="{ 'planet-active': currentRoute === 'saturn' }"
          >SATURN</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          (click)="onPlanetClicked('uranus')"
          [ngClass]="{ 'planet-active': currentRoute === 'uranus' }"
          >URANUS</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          (click)="onPlanetClicked('neptune')"
          [ngClass]="{ 'planet-active': currentRoute === 'neptune' }"
          >NEPTUNE</a
        >
      </li>
    </ul>
  </nav>
</header>
<div class="modal no-caret" *ngIf="modalActive">
  <nav class="modal-nav">
    <ul>
      <li>
        <a class="nav-link" (click)="onPlanetClicked('mercury')">MERCURY</a>
      </li>
      <li>
        <a class="nav-link" (click)="onPlanetClicked('venus')">VENUS</a>
      </li>
      <li>
        <a class="nav-link" (click)="onPlanetClicked('earth')">EARTH</a>
      </li>
      <li>
        <a class="nav-link" (click)="onPlanetClicked('mars')">MARS</a>
      </li>
      <li>
        <a class="nav-link" (click)="onPlanetClicked('jupiter')">JUPITER</a>
      </li>
      <li>
        <a class="nav-link" (click)="onPlanetClicked('saturn')">SATURN</a>
      </li>
      <li>
        <a class="nav-link" (click)="onPlanetClicked('uranus')">URANUS</a>
      </li>
      <li>
        <a class="nav-link" (click)="onPlanetClicked('neptune')">NEPTUNE</a>
      </li>
    </ul>
  </nav>
</div>
