<header class="main-header no-caret">
  <h2 id="planets-logo">THE PLANETS</h2>
  <a
    class="hamburger"
    (click)="onModalActivated()"
    [ngClass]="{ 'hamburger-active': modalActive }"
    ><img src="../../assets/images/icon-hamburger.svg" alt="navigation button"
  /></a>
  <nav class="main-nav">
    <ul>
      <li>
        <a
          class="nav-link"
          routerLink="/mercury"
          id="mercury"
          routerLinkActive="mercury-active"
          >MERCURY</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="venus"
          routerLink="/venus"
          routerLinkActive="venus-active"
          >VENUS</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="earth"
          routerLink="/earth"
          routerLinkActive="earth-active"
          >EARTH</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="mars"
          routerLink="/mars"
          routerLinkActive="mars-active"
          >MARS</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="jupiter"
          routerLink="/jupiter"
          routerLinkActive="jupiter-active"
          >JUPITER</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="saturn"
          routerLink="/saturn"
          routerLinkActive="saturn-active"
          >SATURN</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="uranus"
          routerLink="/uranus"
          routerLinkActive="uranus-active"
          >URANUS</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="neptune"
          routerLink="/neptune"
          routerLinkActive="neptune-active"
          >NEPTUNE</a
        >
      </li>
    </ul>
  </nav>
</header>
<div class="modal no-caret" *ngIf="modalActive">
  <nav class="modal-nav">
    <ul>
      <li>
        <a
          class="nav-link"
          id="mercury"
          routerLink="/mercury"
          routerLinkActive="mercury-active"
          (click)="modalActive = false"
          >MERCURY</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="venus"
          routerLink="/venus"
          routerLinkActive="venus-active"
          (click)="modalActive = false"
          >VENUS</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="earth"
          routerLink="/earth"
          routerLinkActive="earth-active"
          (click)="modalActive = false"
          >EARTH</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="mars"
          routerLink="/mars"
          routerLinkActive="mars-active"
          (click)="modalActive = false"
          >MARS</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="jupiter"
          routerLink="/jupiter"
          routerLinkActive="jupiter-active"
          (click)="modalActive = false"
          >JUPITER</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="saturn"
          routerLink="/saturn"
          routerLinkActive="saturn-active"
          (click)="modalActive = false"
          >SATURN</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="uranus"
          routerLink="/uranus"
          routerLinkActive="uranus-active"
          (click)="modalActive = false"
          >URANUS</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          id="neptune"
          routerLink="/neptune"
          routerLinkActive="neptune-active"
          (click)="modalActive = false"
          >NEPTUNE</a
        >
      </li>
    </ul>
  </nav>
</div>

<main>
  <!-- <app-planet
    [planet]="planetData"
    [infoMode]="infoMode"
    (filterMode)="onChangeInfoMode($event)"
  ></app-planet> -->
  <router-outlet></router-outlet>
</main>
