.no-caret {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  padding-left: 38px;
  padding-right: 38px;
  font-size: 1.2rem;
  border-bottom: 1px solid #37374e;
  z-index: 3;
  background: rgba(8, 9, 26, 0.9);

  .hamburger {
    border-radius: 3px;
    padding: 8px;
    transition: background 250ms linear;
    @media (min-width: 932px) {
      display: none;
    }
  }
}
a {
  cursor: pointer;
}

#planets-logo {
  font-family: "Antonio", sans-serif;
}

.main-nav {
  font-size: 1rem;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
li {
  list-style: none;
  // margin: 0 1rem 0 1rem;
}

@media (max-width: 932px) {
  .main-nav {
    display: none;
  }
}

.modal {
  z-index: 3;
  position: fixed;
  top: 4rem;
  left: 0;
  color: white;
  width: 100%;
  text-align: center;
  height: 100vh;
  font-family: "Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(8, 9, 26, 0.9);
  animation-name: modal-background;
  animation-duration: 0.5s;
}

@keyframes modal-background {
  from {
    background: rgba(8, 9, 26, 0);
  }
  to {
    background: rgba(8, 9, 26, 0.9);
  }
}

.modal-nav {
  margin-top: 4rem;
  li {
    margin: 2rem;
    font-size: 2rem;
  }
  .nav-link {
    &::after {
      top: auto;
      bottom: 0;
    }
  }
}

.hamburger-active {
  background-color: #5412b634;
}

main {
  margin-top: 4rem;
}
